body {
  font-family: Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(14, 17, 23);
  color: white;
}

.navbar {
padding: 0;
    background-color: rgb(38 39 48);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

h1, h2, h3 {
    color: white;
}

.navbar a {
padding: 20px;
text-decoration: none;
color: white;
transition: ease 0.2s;
}

.navbar a:hover {
background-color: #e62429;

}
.navbar a:active, .navbar a:focus {
background-color: #e62429;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container {
    padding: 20px;
}
.card {
  border-radius: 20px;
  height: inherit;
  padding: 15px;
}

.card:hover {
    filter: drop-shadow(0 0 2px white);
}

.card small {
    color: white;
}
.card h3  {
    color: white;
}

.back {
    background-color: #016FB9;
    text-transform: capitalize;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 66px;
    margin: 10px 0;
}

.back:hover {
    color: white;
    background-color: #0a74db;
}

.name {
  max-width: 350px;
}
.main .descripcion {
  max-width: 380px;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.marvel {
  text-decoration: none;
  color: #e62429;
}

@media only screen and (max-width: 800px){
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px){
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar {
    flex-direction: column;
  }
}

form {
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="number"] {
    width: 80%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px 5px;
    font-size: 18px;
}

input[type='number']{
    width: 80%;
    font-size: 18px;
}

.personaje_image {
    max-width: 100%;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.personaje_descripcion {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0,.6);
    color: white;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    border-radius: 12px;
}

input[type='submit']{
    background-color: #4caF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    width: 80%;
}
input[type="submit"]:hover {
        background-color: #45a049;
    }
.linkPersonaje, .linkPersonaje h3 {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 500px){
    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        align-items: start;
    }
}

@media only screen and (max-width: 350px) {
    .form input:submit {
        width: 90%;
    }
}

.hamburguesa {
    margin: 20px auto;
    display: none;
    width: 25px;
    background: none;
    border: none;
}

.hamburguesaIcon {
    width: 25px;
    cursor: pointer;
}

.aparecer {
    display: flex;
}

.desaparecer {
    display: none;
}

.form_container {
    max-width: 320px;
    background-color: transparent;
    background-image: url('../images/11.jpg');
    background-size: cover;
}
.form_container h1, .form_container h3 {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
    .hamburguesa {
        display: block;
    }
}