body {
  font-family: 'Salsa', Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(14, 17, 23);
  color: white;
}

.navbar {
padding: 0;
    background-color: rgb(38 39 48);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

h1, h2, h3 {
    color: white;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
	background-color: rgb(38, 39, 48);
  font-weight: 600;
	letter-spacing: 4px;
	padding: 18px 22px;
	border-top: 0 ;
	border-right: 0 ;
	border-radius: 12px;
	margin-right: 50px;
	cursor: pointer;
	overflow: hidden;
	transition: 0.3s;
}
.btn-green {
	color: rgb(102, 255, 102);
	border-bottom:1px solid rgb(102, 255, 102);
	border-left:1px solid rgb(102, 255, 102);
}

.btn-green:hover {
	color: black;
	background-image: linear-gradient(rgb(102, 255, 102), rgba(102,255,102,1.1));
	filter: drop-shadow(0 0 15px rgb(102, 255, 102))
}
.btn-pink {
	color: rgb(255, 102, 204);
	border-bottom:1px solid rgb(255, 102, 204);
	border-left:1px solid rgb(255, 102, 204);
}
.btn-pink:hover {
	color: black;
	background-image: linear-gradient(rgb(255, 102, 204), rgba(255,102,204,1.1));
	filter: drop-shadow(0 0 25px rgb(255, 102, 204))
}
.btn-blue {
	color: rgb(51, 204, 255);
	border-bottom:1px solid rgb(51, 204, 255);
	border-left:1px solid rgb(51, 204, 255);
}
.btn-blue:hover {
	color: black;
	background-image: radial-gradient(rgb(51, 204, 255), rgba(51, 204, 255,1.1));
	filter: drop-shadow(0 0 2px rgb(51, 204, 255));
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.container {
    padding: 20px;
}
.card {
  border-radius: 20px;
  height: inherit;
  padding: 15px;
}

.card:hover {
    filter: drop-shadow(0 0 2px white);
}

.card small {
    color: white;
}
.card h3  {
    color: white;
}


.name {
  max-width: 350px;
}
.main .descripcion {
  max-width: 380px;
}

.thumbnail {
  width: 100%;
  border-radius: 12px;
}

.marvel {
  text-decoration: none;
  color: #e62429;
}

@media only screen and (max-width: 800px){
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px){
  .main {
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar {
    flex-direction: column;
  }
}

form {
    padding: 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="number"] {
    width: 80%;
    padding: 5px;
    border: 3px inset rgb(51, 204, 255);
    border-radius: 3px;
    background-color: rgb(14, 17, 23);
    margin: 10px 5px;
    font-size: 18px;
    color: rgb(51, 204, 255);
    font-weight: bold;
}

input[type='number']{
    width: 80%;
    font-size: 18px;
}

.personaje_image {
    max-width: 100%;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.personaje_descripcion {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0,.6);
    color: white;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    border-radius: 12px;
}

.linkPersonaje, .linkPersonaje h3 {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 500px){
    .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: left;
        justify-content: space-around;
        align-items: start;
    }
}

@media only screen and (max-width: 350px) {
    .form input:submit {
        width: 90%;
    }
}

.hamburguesa {
    margin: 20px auto;
    display: none;
    width: 25px;
    background: none;
    border: none;
}

.hamburguesaIcon {
    width: 25px;
    cursor: pointer;
}

.aparecer {
    display: flex;
}

.desaparecer {
    display: none;
}

.btnRegresar, .btnInput{
  margin: 0;
}
.btnRegresar {
  width: 243px;
  margin-left: 40px;
}

.form_container {
    max-width: 320px;
    background-color: transparent;
    background-image: url('../images/11.jpg');
    background-size: cover;
}
.form_container h1, .form_container h3 {
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .navbar {
        display: none;
    }
    .hamburguesa {
        display: block;
    }
}
