<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <title>Marvel Comics on Flask</title>
</head>
<body>

<nav id="myNavbar" class="navbar">
    <a href="/" class="navbarLink">Home</a>
    <a href="/buscar_personaje" class="navbarLink">Buscar Personaje</a>
    <a href="/buscar_comics" class="navbarLink">Buscar Comic</a>
</nav>
<button id="hamburguesa" class="hamburguesa">
    <img class="hamburguesaIcon" src="{{ url_for('static', filename='images/hamburguesaIcon.png')}}">
</button>

<div class="container">
    <h1>Marvel Chars</h1>
    <h2>Informacion proveida por:
        <a class="marvel" href="http://marvel.com">
            Data provided by Marvel. © 2023 MARVEL
        </a>
    </h2>
    {% block content %}{%  endblock %}

</div>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>