
{% extends "base.html" %}

{% block content %}

<div id="form_container" class="form_container">
    <h1>Buscar Personaje</h1>
    <form class="form" method="get">
            <input type="text" id="buscar_personaje" name="buscar_personaje" placeholder="Nombre del personaje">
            <input type="number" name="numero_personajes" id="numero_personajes" placeholder="Numero de coincidencias">
            <input type="submit" class="btn btn-green btnInput" value="Buscar"  max="10" min="1">
    </form>
            <button id="back" class="btn btn-pink btnRegresar"> regresar </button>
</div>

<div class="main">
    {% if resultado %}
    {% for item in resultado %}
    <a class="linkPersonaje" href="{{ url_for("personaje_id_ruta", id=item['id']) }}">
        <div class="card">
            <small>Id del personaje: {{item.id}}</small>
            <h3>{{item.name}}</h3>
            <img src="{{item.thumbnail['path']}}.{{item.thumbnail['extension']}}" alt="Imagen de {{item.name}}" class="thumbnail">
        </div>
    </a>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
