{% extends "base.html" %}

{% block content %}
    {% for item in data %}
        <h2>{{item['name']}}</h2>
        <img class="personaje_image" src="{{item.thumbnail['path']}}.{{item.thumbnail['extension']}}">
        <div id="back" class="back">regresar</div>
            {% if item['description'] != '' %}
                <p class="personaje_descripcion">Descripcion: {{item['description']}}</p>
            {% endif %}
    <p>Comics disponibles: {{item['comics']['available']}}</p>
        {% if item['comics']['available'] > 0 and item['comics']['available'] <= 8 %}
            <h3>Comics de {{item['name']}}</h3>
         {% elif item['comics']['available'] > 8 %}
            <h3>Algunos comics de {{item['name']}}</h3>
        {% endif %}
                {% for comic in item['comics']['items'][:10] %}
            <p>{{comic['name']}} - <small>{{comic[id]}}</small> </p>
    {% endfor %}
    {% endfor %}
{% endblock %}
